<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tartanga.dam.imhandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WorkZonesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WorkOrderCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MachinesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailsWorkOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SendWorkOrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.MachineDetails" />
        <activity
            android:name=".activities.ActivityReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TypeMachineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InstructionsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.InstruccionesActivity"></activity>
    </application>

</manifest>