<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tartanga.dam.imhandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Navegador" />
        <activity android:name=".activities.WorkZonesActivity" />
        <activity android:name=".activities.WorkOrderCardActivity" />
        <activity android:name=".activities.MachinesActivity" />
        <activity android:name=".activities.DetailsWorkOrderActivity" />
        <activity android:name=".activities.SendWorkOrderActivity"></activity>
        <activity android:name=".activities.MachineDetails" />
        <activity android:name=".activities.ActivityReport"></activity>
    </application>

</manifest>